
body {
  background-color: white;
  font-family: 'junicode-expanded';
  font-size: 1.125rem;
}

/*caption formatting*/
.caption {
  color:black;
  text-decoration: none;
  font-size: 0.8rem;
}

a:link{
  text-decoration: none;
}

/*Navbar*/
#navbar {
  background-color: #FCF5E5;

}

/*menu button*/
#menubutton {
  background-color: #914631;
  color: white;
  width: 10rem;
  height: 3.25rem;
}

/*search bar TBD*/

/*sticky language header*/
#sticky {
  background-color: white;
  border-bottom: solid #ccc;
  position: sticky;
}

#langnav {
  font-size: 1.25rem;
  background-color: white;
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  background-color: #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#left {
  font-size: 1.15rem;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: #ccc;
  border-top-left-radius: 4px;
}

#right {
  font-size: 1.15rem;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: #ccc;
  border-top-right-radius: 4px;
}

#chapters-menu {
  border-right: 1px solid black;
  border-left: 1px solid black;
  font-size: 1.25rem;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: #ccc;
}

/*column formatting*/
#Latin {
  padding-left: 4rem;
  padding-right: 2rem;
  border-right: solid #ccc;

}

#English {
  padding-right: 4rem;
  padding-left: 2rem;
}

/*blockquote*/
blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  line-height: normal;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}


/*fleuron note*/
.note {
  size:1rem;
}

.note:hover {
  transition: border-color 1s, box-shadow 0.5s;
}

/*directory buttons*/
.button {
  background-color: #AA5F4B;
  border: none;
  border-radius: 4px;
  color: white;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
}

.button:hover {
  background-color: #914631;
  color: white;
}

/*prologue button*/
#prologueBtn {
  background-color: #AA5F4B;
  border: none;
  border-radius: 4px;
  color: white;
  width: 9.625rem;
  height: 2.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
}

#prologueBtn:hover {
  background-color: #914631;
  color: white;
}

/*xml button*/
#xmlButton {
  background-color: #404d7a;
  border: none;
  border-radius: 4px;
  color: white;
  width: 8.25rem;
  height: 2.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

#xmlButton:hover {
  background-color: #314175;
  color: white;
}

/*language buttons*/
.langBtn {
  vertical-align: center;
  background-color: #ccc;
  width: 8rem;
  height: 2.5em;
  border: none;
}

/*control buttons (previous and next)*/
.ctrBtn {
  display: inline-block;
  text-align: center;
  background-color: #ccc;
  width: 3rem;
  height: 2.5em;
  border: none;
}

/*credits card*/
#credits {
  font-size: 1rem;
}

/*footer*/
footer {
  background:#314175;
  min-height: 8rem;
  color: white;
  text-align: center;
  font-weight:normal;
}

@font-face {
  font-family:"junicode expanded";
  src: url("./font/JunicodeTwoBeta-Medium.tff") format("truetype"),
    url("./font/JuniusX-Regular.woff2") format("woff2");
}
