
body {
  background-color: white;
  font-family: 'junicode-expanded';
}


#navbar {
  background-color: #FCF5E5;

}

#homeCaption {
  color:black;
  text-decoration: none;
  font-size: 0.714rem;
}

a:link{
  text-decoration: none;
}

/*search*/

/*fleuron note*/
.note {
  size:1rem;
}

.note:hover {
  transition: border-color 1s, box-shadow 0.5s;
}


/*language button center*/
.lang {
  position: center;

}

/*sticky language header*/
#lang {
  background-color: white;
  border-bottom: solid #ccc;
  position: sticky;
}

.langBtn {
  text-align: center;
  background-color: #ccc;
  width: 8rem;
  height: 2.5em;
  border: none;
}

.ctrBtn {
  text-align: center;
  background-color: #ccc;
  width: 3rem;
  height: 2.5em;
  border: none;

}

.langBtn:hover {
  color: white;

}

/*blockquote*/
blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  line-height: normal;
}


/*buttons*/
/*menu*/
#menubutton {
  background-color: #914631;
  color: white;
  width: 10rem;
  height: 3.25rem;
}

/*text buttons*/
.button {
  background-color: #AA5F4B;
  border: none;
  border-radius: 4px;
  color: white;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
}

.button:hover {
  background-color: #914631;
  color: white;
}

/*prologue button*/
#prologueBtn {
  background-color: #AA5F4B;
  border: none;
  border-radius: 4px;
  color: white;
  width: 9.625rem;
  height: 2.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
}

#prologueBtn:hover {
  background-color: #914631;
  color: white;
}

/*xml button*/
#xmlButton {
  background-color: #404d7a;
  border: none;
  border-radius: 4px;
  color: white;
  width: 8.25rem;
  height: 2.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

#xmlButton:hover {
  background-color: #314175;
  color: white;
}

/*footer*/
footer {
  background:#314175;
  min-height: 8rem;
  color: white;
  text-align: center;
  font-weight:normal;
}


@font-face {
  font-family:"junicode expanded";
  src: url("./font/JunicodeTwoBeta-Medium.tff") format("truetype"),
    url("./font/JuniusX-Regular.woff2") format("woff2");
}